.container {
    margin: 35% auto auto auto;
    text-align: center;
}
body {
    background-image: url('../../img/initial-back11.png');
    background-attachment: local;
    background-size: cover;
}
.title {
    color:white;
    font-size: 2rem;
}