.btn-salon {
    position: fixed;
    top: 2%;
    right: 5%;
    background-color: #B42C41;
    border: #B42C41 solid 1px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    width: 30%;
    height: 3rem;
    margin: .5rem auto;
    border-radius: .5rem;
}