.container-orders {
    flex-wrap: wrap;
    display: flex;
    padding: 5%;
    justify-content: left;
    box-sizing: border-box;

}

.container-order { 
    
    background: #363636;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 8px;
    width: 30%;
    padding: 2%;
    border: 2px solid #7a7a7a;
    margin: 1% 1.5%;
}

.table-number {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.563rem;
    font-weight: 700;
    margin: 0 auto;
}

.order-text {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.188rem;
    margin: .7rem auto;
}

.btn-prepair {
    background-color: #b42c41;
    color: white;
    width: 80%;
    border-radius: 10px;
    font-size: 1.5rem;
    border: solid 1px #b42c41;
    padding: 2%;
    margin-top: 5%;
}

.btn-finish {
    background-color: #099e2a;
    color: white;
    width: 80%;
    border-radius: 10px;
    font-size: 1.5rem;
    border: solid 1px #099e2a;
    padding: 2%;
    margin-top: 5%;
}

.center {
    text-align: center;
}